<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="/public/stylesheets/loading.css">
    <title>ST Chat Service Center</title>
</head>
<body>
    <div class="container-fluid">
        <div id="img-container" class="col-12">
            <img src="/public/images/logo.png" height="100px" alt="">
            <h3>Private Messenger Helper</h3>
        </div>
        <div id="loading" class="col-12">
            <img src="/public/images/loader.gif" height="100px"  alt="">
        </div>
    </div>
</body>
<script src="/public/javascripts/loading.js"></script>
</html>